<div class="text-center">
    <div class="jumbotron ">
    <h1 class="display-4 my-4">Natalia Eusse</h1>
    <p class=" text-center my-4">FULL STACK</p>
    <hr class="my-4 ">

    <p>Experienced Java developer persuing AWS Cloud computing certification, with knowledge in Docker and Unit Testing. </p>
        <p>I had worked as a front-end developer using Angular and React, and I had projects build with Django, C# with .net, connected to differents data bases including but not limited to  MySQL, MongoDB, kafta and redis</p>
        
        <p>
        Besides coding, I have several years of experience as a Clinical Psychology in my home country, Colombia. I still volunteer with adults and kids.</p>
        
    <hr class="my-4">
   
   
</div>
</div>
