<h1 class="text-center my-4  ">PROJECTS</h1>
<p class="text-center ">Software architecture</p>
<div class="row ">
  <div class="col-sm-6 ">
    <div class="card bg-primary">
      <div class="card-body">
        <h5 class="card-title">Microservices</h5>
        <p class="card-text">
          Bank application builded with microservice architecture. Django with
          PostgreSQL for authentication, and SpringBoot with Mongo for bussiness
          logic. GraphQL with Apollo as API Gateaway to connect and expose the
          services. Vue.js for the front
        </p>
        <a href="#" class="btn btn-primary">Github</a>
      </div>
    </div>
  </div>
    <div class="col-sm-6">
      <div class="card bg-primary">
        <div class="card-body">
          <h5 class="card-title">Layared</h5>
          <p class="card-text">
            Book web app in Java and SpringBoot connected to MySQL. Layered
            architecture. Controler, Service Repository.bussiness
            logic. GraphQL with Apollo as API Gateaway to connect and expose the
            services. Vue.js for the front
          </p>
          <a href="#" class="btn btn-primary">Github</a>
        </div>
      </div>
    </div>
   
<p class="text-center my-4 ">FRONT-END</p>
<div class="row">
  <div class="col-sm-3">
    <div class="card bg-primary">
      <div class="card-body">
        <h5 class="card-title">Angular 3D modeling</h5>
        <p class="card-text">
          Iphone 3d model with front-end in Angular displayed in Firebase hosting
        </p>
        <a href="https://iphone-3d.web.app/" target="_blank" class="btn btn-primary">Deployed App</a>
        <a href="tecmadeeasy.com" target="_blank" class="btn btn-primary">Github</a>  
    </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card bg-primary">
      <div class="card-body">
        <h5 class="card-title">Angular blog</h5>
        <p class="card-text">
         Angular blog with headless CMS Contenful displayed with Firebase hosting. SEO and adds, deployed in tecmadeeasy.com
        </p>
        <a href="https://tecmadeeasy.com" target="_blank" class="btn btn-primary">Deployed app</a>
        <a href="tecmadeeasy.com" target="_blank" class="btn btn-primary">Github</a>  
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card bg-primary">
      <div class="card-body">
        <h5 class="card-title">Angular portafolio</h5>
        <p class="card-text">
          This portafolio was builded with angular + bootstrap with dark mode feature. Hosted with firebase and deployed in domain nateusse.com
        </p>
        <a href="https://nateusse.com" target="_blank" class="btn btn-primary">Deployed app</a>
        <a href="https://github.com/nateusse/portafolio-angular" target="_blank" class="btn btn-primary">Github</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card bg-primary">
      <div class="card-body">
        <h5 class="card-title">Angular animations</h5>
        <p class="card-text">
          Animations creating a Parallax effect with Angular and CSS
         
        </p>
        <a href="https://github.com/nateusse/angular-parallax-css" class="btn btn-primary">Github</a>
      </div>
    </div>
  </div>
</div>